@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}
a{
    text-decoration: none;
    color: #111;
}
ul,ol{
    list-style: none;
}
body{
    background-color: #EBEFF2;
    padding: 0 280px;
}
.searchBox,.statistics,.AinputBox,.AcontentBox,.previousWork{
    background-color: #fff;
    border: 2px solid #e5e9ec;
    width: 90%;
    margin: 0 auto;
    padding: 24px 10px;
    margin-top: 120px;
}
.AinputBox2{
    background-color: #fff;
    border: 2px solid #e5e9ec;
    width: 90%;
    margin: 0 auto;
    padding: 24px 10px;
    /* margin-top: 120px;   */
}
.searchBox{
    height: 30px;
}
.statistics>h3{
    margin-left: 14px;
}
.AcontentBox>h3{
    margin-bottom: 10px;
}
.statisticsWrap{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.statisticsBox{
    width: 270px;
    height: 170px;
    display: flex; 
    justify-content: space-around;       
    align-items: center;
    position: relative;
    margin: 0 4px;
}
#statisticsBoxFont{
    font-weight: bolder;
    font-size: 40px;
    position: absolute;
    bottom: 45px;
    right: 50px;
}
.statisticsBoxFont2{
    position: absolute;
    top: 45px;
    left: 50px;
    font-size: 24px;
}
.statisticsBox:nth-child(1){
    background-color: #4678A9;  
    font-size: 25px;    
    color: white;       
}
.statisticsBox:nth-child(2){
    background-color: #F56B60;
    font-size: 25px;
    color: white;
}
.statisticsBox:nth-child(3){
    background-color: #A4B241;
    font-size: 25px;
    color: white;
}
.statisticsBox:nth-child(4){
    background-color: #E6B407;
    font-size: 25px;
    color: white;
}
.AinputBox{
    height: 400px;
}
.AcontentBox{
    height: 800px;
}
table{
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}
thead{
    font-weight: bold;
    color: #fff;
    background: #42566e;
}
th{
    text-align: left;
}
td, th {
    padding: 1em .5em;
    vertical-align: middle;
}
td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
    text-align: center;
}
button{
    background-color: transparent;
    border: none;

}
.contentWrap{
    max-width: 1250px;
    margin: 0px auto 0;
}
#workPlanmInputBoxWrapT{
    display: flex;
    align-items: center;
    height: 750px;

}
#workPlanmInputBoxWrap{
    font-weight: bolder;
    background-color: #42566E;
    color: white;
    width: 470px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 30px 28px;
}
#workPlanmInputBoxWrap > h1{
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
}
#workPlanmInputBoxWrapBox{
     display: flex;
     justify-content: center;

}
.alsguddl{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}
.alsguddl > span{
    padding: 10px 0;
}
.alsguddl > input{
    width: 300px;


}
#workPlanmInputBoxWrapBox > button{
    width: 30%;
    display :inline-block;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #d3d3d3;
    color: black;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#workPlanmInputBoxWrapBox > button:hover{
    background-color: #6D7888;
}
.packagingForm > h3{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
.packagingForm > div{
    display: flex;
    justify-content: center;    
}

/* 승호 CSS ===============================*/
input{
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
select{
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
    /* 버튼 */
.btn-3d {
    border: none;
    position: relative;
    display: inline-block;
    font-size: 15px;
    padding: 8px 30px;
    color: white;
    margin: 20px 10px 10px;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.btn-3d.green:hover  {background-color: #3d4f66;}
.btn-3d:active {top: 9px;}
.btn-3d.green {
    background-color: #42566e;
    box-shadow: 0 0 0 1px #42566e inset,
          0 0 0 2px rgba(255,255,255,0.15) inset,
          0 8px 0 0 #42566eb6,
          0 8px 0 1px rgba(0,0,0,.4),
          0 8px 8px 1px rgba(0,0,0,0.5);
}
.btn-3d.green:active {
    box-shadow: 0 0 0 1px #42566e inset,
          0 0 0 2px rgba(255,255,255,0.15) inset,
          0 0 0 1px rgba(0,0,0,0.4);
}
thead th{text-align: center;}
.tableTitle td{text-align: center;}

/* 작업계획 출력될 박스 */
#cssBox{
    background-color: #fff;
    border: 2px solid #ccd0d3;
    width: 90%;
    margin: 0 auto;
    padding: 24px 10px;
    margin-top: 20px;
}

/* 보고서 출력부분 */
.reportBox{padding: 10px 20px}
.workplanNumber{font-weight: bold; font-size: 20px;}
.reportBox>p{margin-top: 5px;}

    /* 생산 재품 내용 */
.orderProduct{
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
    font-size: 17px; font-weight: bold;
}

    /* 투입(작업) 내용 */
.inserContent{
    display: flex; justify-content: space-around;
}
.inserContent div{
    border: 1px solid #ddd;
    padding: 10px;
}

    /* 검사자 체크부분 */
.checkBox{
    display: flex;
    justify-content: end;
    align-items: center;
}
.checkBox>button{margin-bottom: 30px;}
/* 승호 CSS END================================ */
.previousWork{
    height: 180px !important;
}
.previosList{
    border: 1px solid #ddd;
    margin: 0 auto;
    width: 240px !important;
    height: 90px;
    padding: 10px 18px;
}
.previosList:hover{
    border: 1px solid #111;
}
.previosList>a>p{
    margin: 4px 0;
}
.slick-slide{
    width: auto !important;
    margin: 10px 63px;
}
.slick-prev:before,
.slick-next:before
{
    font-size: 40px !important;
    color: #0d82ff !important ;
}
.slick-list{
    z-index: 10;
}
.slick-next{
    right: 15px !important;
    z-index: 20;
    top:44% !important;
}
.slick-prev{
    left: -4px !important;
    z-index: 20;
    top:44% !important;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: 0.75 !important;
}